<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>
      Sistema De Asistencia Duoc
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="logout()" color="danger" fill="outline">
        Cerrar Sesión
        <ion-icon slot="end" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment value="perfil" (ionChange)="segmentChanged($event)">
      <ion-segment-button  value="perfil">
        <ion-icon name="home"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="experiencias">
        <ion-icon name="briefcase-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="certificaciones">
        <ion-icon name="school-outline"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content> 
  <ion-router-outlet></ion-router-outlet>
</ion-content>