<ion-content>
  <ion-title class="ion-padding-top ion-text-center">
    <ion-label>
      <img src="assets/img/logoDuoc.png">
      <h1>Sistema De Asistencia Duoc</h1>
    </ion-label>   
    </ion-title>

    <div class="ion-padding-vertical">
      <ion-card class="ion-text-center ion-padding-vertical">
        <ion-card-title class="ion-text-center">

      </ion-card-title>

      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input type="text" [(ngModel)]="usuario.nombreUsuario"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" >Password</ion-label>
          <ion-input type="password" [(ngModel)]="usuario.password"></ion-input>
        </ion-item>
        <ion-row>
          <ion-col size="12">
            <ion-button shape="block" (click)="ingresar()">Ingresar</ion-button>
          </ion-col>
        </ion-row>
        
      </ion-card-content>
      
      <ion-label>
        <ion-button [routerLink]="['/restablecer']">¿Olvidó su contraseña?</ion-button>
      </ion-label>
    </ion-card>
  </div>
  
</ion-content>